# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Environment Variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/

# ChromaDB
backend/chroma_db/

# Python cache
.pytest_cache/
.mypy_cache/


# Development notes
convo.txt
devdocs.md